version: '3.8'

services:
 
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:{{ deploy_cadvisor_image_version }}
    container_name: cadvisor
    ports:
    - 8888:8080
    volumes:
    - /:/rootfs:ro
    - /var/run:/var/run:rw
    - /sys:/sys:ro
    - /var/lib/docker/:/var/lib/docker:ro