version: '3.8'

services:
 
  prometheus:
    image: prom/prometheus:{{ deploy_prometheus_image_version}}
    container_name: prometheus
    restart: always
    ports:
      - 9090:9090
    volumes:
      - {{ deploy_prometheus_project_src }}/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - {{ deploy_prometheus_data_src }}:/prometheus:rw
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - '--storage.tsdb.path=/prometheus'