version: '3.8'

services:

  db:
    image: mysql:{{ deploy_mysql_image_version }}
    container_name: mysql
    restart: always
    ports:
      - "3306:3306"
    volumes:
      - {{ deploy_mysql_project_src }}/data:/var/lib/mysql:rw
      - {{ deploy_mysql_project_src }}:/etc/mysql/conf.d:rw
    environment:
      MYSQL_ROOT_PASSWORD: {{ deploy_mysql_root_pass }}